{% extends 'layout.njk' %}

{% set pageId = 'create_page' %}

{% block content %}

    <section class="form_content">

        {% include 'parts/header.njk' %}

        <form action="/products" method="POST">

            <div class="form_header">

                <h1>Register a new <strong>Rocket</strong></h1>

            </div>

            <fieldset class="fields">

                {% include 'products/fields.njk' %}

                <button type="submit" class='buttons'>Create</button>
            
            </fieldset>

        </form>

    </section>

    {% include 'parts/cards_orange.njk' %}


    
{% endblock %}