
<div class="field">
    
    <label for="car_name">Name</label>
    <input id="car_name" name="name" value="{{ product.name }}" placeholder="Car name" />

</div>

<div class="field_group">
    
    <div class="field">
    
        <label for="car_model">Model</label>
        
        <select name="car_model">
            <option value="">Select the car model</option>


        </select>

    </div>

    <div class="field">
    
        <label for="car_color">Color</label>
        <input id="car_color" name="color" value="{{ product.color }}"  placeholder="Car color" />

    </div>

</div>

<div class="field">
    
    <label for="car_price">Price</label>
    <input id="car_price" name="price" value="{{ product.price }}" placeholder="Car price" />

</div>


<div class="field">
    
    <label for="car_board">Board</label>
    <input id="car_board" name="board" value="{{ product.board }}" placeholder="---- // ----" />

</div>