
<div class="field">
    
    <label for="name">Name</label>
    <input id="name" name="name" value="{{ car.name }}" placeholder="Car name" />

</div>

<div class="field_group">
    
    <div class="field">
    
        <label for="model_id">Model</label>
        
        <select name="model_id">
            <option value="">Select the car model</option>

            {% for model in models %}

                <option value="{{ model.id }}" {% if car.model_id == model.id %}selected{% endif %}>
                {{ model.name }}</option>

            {% endfor %}

        </select>

    </div>

    <div class="field">
    
        <label for="color">Color</label>
        <input id="color" name="color" value="{{ car.color }}"  placeholder="Car color" />

    </div>

</div>

<div class="field">
    
    <label for="price">Price</label>
    <input id="price" name="price" value="{{ car.price }}" placeholder="Car price" onkeydown="Mask.apply(this, 'formatUSD')" />

</div>


<div class="field">
    
    <label for="board">Board</label>
    <input id="board" name="board" value="{{ car.board }}" placeholder="ABC-1234" />

</div>