@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #fd951f;
    --secondary-color: #7159c1;

    --deletes-color: #FF2F2F;
    --titles-color: #5C2676;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    outline-width: 0;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: #f2f2f2;
}

/* HEADER / FOOTER */

header {
    width: 100%;
    text-align: center;

    padding: 24px 0;
}

header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 92%;

    margin: 0 0 32px 40px;
}

/* LOGO */

header div.container > a {
    width: 280px;
    height: 72px;
    
    justify-self: start;

    font-size: 0.01px;

    background-image: url(/assets/Logo_and_texts.svg);
    background-size: cover;
}

.logo img {
    max-width: 280px;
}

/* HEADER NAV */

nav.primary {
    width: 32%;
}

nav.primary ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.primary ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

nav.primary ul li:first-child a {
    padding: 4px 24px;
    
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 32px;
    box-shadow: 2px 2px 2px -2px var(--primary-color);
}

nav.primary ul li:first-child a:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 2px 2px 4px -2px var(--primary-color);
    font-weight: 500;

    transition: 250ms;
}

nav.primary ul li:first-child a i {
    margin-right: 8px
}

nav.primary ul li:last-child a {
    font-weight: 500;
    color: var(--deletes-color);
}

nav.primary ul li:last-child a:hover {
    filter: brightness(200%);

    transition: 250ms;
}

nav.primary ul li:last-child a i {
    margin-left: 8px;
}

/* HOME PAGE */

#home_page {
    height: 100vh;

    background: url('/assets/HomePageImage.svg');
    background-repeat: no-repeat;
    background-position: 45vw 16vh;
    background-size: 45rem 35rem;
}

#home_page .content {
    height: 64.5vh;
    width: 92%;
    max-width: 560px;

    margin: 0 0 48px 40px;

    display: flex;
    flex-direction: column;
}

#home_page main {
    width: 80%;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

#home_page main h1 {
    font-size: 54px;
    line-height: 60px;
    color: var(--titles-color);
}

#home_page main p {
    margin: 4px 0 32px 8px;

    font-size: 28px;
    line-height: 42px;
    color: var(--titles-color);
    font-weight: 400;
    opacity: .6;
    letter-spacing: 0.05em;
}

#home_page .index_buttons {
    width: 100%;
    height: 132px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#home_page .index_buttons a {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 24px;
    color: white;
    font-weight: 500;
    box-shadow: 2px 2px 6px -2px var(--primary-color);
}

#home_page .index_buttons a:hover {
    filter: brightness(105%);

    transition: 250ms;
}

/* FOOTER HOME PAGE */

#home_page .footer_midias {
    height: 8vh;
    width: 80%;

    display: flex;
    justify-content: center;
    align-self: flex-start;
}

#home_page .footer_midias ul {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home_page .footer_midias ul li {
    background-color: #e6e6e6a2;
    border-radius: 8px;

    width: 40px;
    height: 40px;
}

#home_page .footer_midias ul li a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    font-size: 0.01px;
}

#home_page .footer_midias ul li:first-child a {
    background-image: url('/assets/instagram.svg');
}

#home_page .footer_midias ul li + li a {
    background-image: url('/assets/facebook.svg');
}

#home_page .footer_midias ul li:last-child a {
    background-image: url('/assets/github.svg');
}

/* FOOTER */

footer {
    text-align: center;

    color: #402B62;
    font-weight: 300;
}