@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #fd951f;
    --secondary-color: #7159c1;

    --deletes-color: #FF2F2F;
    --titles-color: #5C2676;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    outline-width: 0;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;

    background-color: #f2f2f2;
}

.buttons {
    display: block;
    width: 100%;

    margin: 14px 0;
    padding: 12px 16px;

    align-self: end;
    text-align: center;

    background-color: var(--primary-color);
    color: white;
    box-shadow: 2px 2px 8px -4px var(--primary-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.buttons:hover {
    filter: brightness(110%);

    transition: 250ms;
}

/* HEADER / FOOTER */

header {
    width: 100%;
    text-align: center;

    padding: 24px 0;
}

header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 92%;

    margin: 0 0 32px 40px;
}

/* LOGO */

#home_page header div.container > a {
    width: 280px;
    height: 72px;
    
    justify-self: start;

    font-size: 0.01px;

    background-image: url(/assets/Logo_and_texts.svg);
    background-size: cover;
}

.logo img {
    max-width: 280px;
}

/* HEADER NAV */

nav.primary {
    width: 32%;
}

nav.primary ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.primary ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

nav.primary ul li:first-child a {
    padding: 4px 24px;
    
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 32px;
    box-shadow: 2px 2px 2px -2px var(--primary-color);
}

nav.primary ul li:first-child a:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 2px 2px 4px -2px var(--primary-color);
    font-weight: 500;

    transition: 250ms;
}

nav.primary ul li:first-child a i {
    margin-right: 8px
}

nav.primary ul li:last-child a {
    font-weight: 500;
    color: var(--deletes-color);
}

nav.primary ul li:last-child a:hover {
    transform: translateX(4%);

    transition: 250ms;
}

nav.primary ul li:last-child a i {
    margin-left: 8px;
}

/* HOME PAGE */

#home_page {
    height: 100vh;

    background: url('/assets/HomePageImage.svg');
    background-repeat: no-repeat;
    background-position: 45vw 16vh;
    background-size: 45rem 35rem;
}

#home_page .content {
    height: 64.5vh;
    width: 92%;
    max-width: 560px;

    margin: 0 0 48px 40px;

    display: flex;
    flex-direction: column;
}

#home_page main {
    width: 80%;
    
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
}

#home_page main h1 {
    font-size: 54px;
    line-height: 60px;
    color: var(--titles-color);
}

#home_page main p {
    margin: 4px 0 32px 8px;

    font-size: 28px;
    line-height: 42px;
    color: var(--titles-color);
    font-weight: 400;
    opacity: .6;
    letter-spacing: 0.05em;
}

#home_page .index_buttons {
    width: 100%;
    height: 132px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#home_page .index_buttons a {
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 24px;
    color: white;
    font-weight: 500;
    box-shadow: 2px 2px 6px -2px var(--primary-color);
}

#home_page .index_buttons a:hover {
    filter: brightness(105%);

    transition: 250ms;
}

/* FOOTER HOME PAGE */

.midias {
    width: 80%;

    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.midias ul {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.midias ul li {
    background-color: #e6e6e6a2;
    border-radius: 8px;

    width: 40px;
    height: 40px;
}

.midias ul li a {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background-position: center;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    font-size: 0.01px;
}

.midias ul li:first-child a {
    background-image: url('/assets/instagram.svg');
}

.midias ul li + li a {
    background-image: url('/assets/facebook.svg');
}

.midias ul li:last-child a {
    background-image: url('/assets/github.svg');
}

.midias ul li:hover {
    filter: brightness(90%);
}

/* CREATE PAGE */

#create_page {
    min-height: 100vh;

    display: flex;
    text-align: center;
}

#create_page .form_content {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#create_page .logo img:hover {
    transform: translateY(-4px);

    transition: 250ms;
}

#create_page nav.primary {
    width: 45%;
}

#create_page header div.container {
    margin:  0 0 8px 0;
    padding-left: 8px;
}

form .form_header {
    margin-bottom: 32px;
}

form .form_header h1 {
    color: var(--titles-color);
    font-size: 32px;
    letter-spacing: 2px;

}

form h1 strong {
    color: var(--primary-color);
}

.form_content form {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;

}

/* FORM FIELDS */

form .fields .field {    
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;

    margin-bottom: 24px;
}

form .fields {
    max-width: 100%;
}

form .fields .field:nth-child(4) {
    margin-bottom: 40px;
}

.field label {
    margin: 0 0 2px 2px;

    font-size: 12px;
    color: var(--titles-color);
    font-weight: 300;
    opacity: .7;
}

form .field_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4%;
}

form .fields input[name="board"] {
    width: 288.5px;
}

.form_content form input, .form_content form select {
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #f0f0f0;
    border-left: 3px solid var(--secondary-color);
    outline-width: 1px;
    outline-color: var(--secondary-color);
    box-shadow: 0px 4px 32px -4px #dfdfdfe0;

    padding: 16px 24px;
}

form input:hover, form select:hover {
    border: 1px solid #eeeeee;
    border-left: 5px solid var(--secondary-color);

    transition: 250ms;
}

form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* SELECT STYLE */

    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%235C2676%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
}

/* RIGHT ORANGE SCREEN */

.create_view {
    width: 45vw;
    min-height: 100vh;


    display: grid;
    grid-template: 70px 1fr / 1fr;
    align-items: center;
    gap: 64px;  

    background-image: linear-gradient(48.14deg, #FDA41F -6.33%, var(--primary-color) 38.01%, #F16C21 82.35%);
}

.view_header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 42px 16px 0;
}

.create_view .midias {
    flex: 1;
    max-width: 174px;
}

.create_view .midias ul {
    width: 100%;
}

.create_view .midias ul li {
    background-color: #fbfbfb33;

    width: 30px;
    height: 30px;
}

.create_view .midias ul li a {
    background-size: 25px 25px;
}

.create_view div > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.create_view div:first-child a:hover {
    transform: translateX(-4%);

    transition: 250ms;
}

/* CARDS */

.view_cards {
    max-width: 44%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    margin: 0 auto;
    padding-bottom: 20px;
}

.view_cards ul {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view_cards ul li {
    width: 90%;
    height: 45%;

    padding: 32px 30px;

    color: white;
    background-color: var(--primary-color);

    display: grid;
    grid-template-columns: 55px 1.5fr;
    gap: 12px;
    align-items: center;
    text-align: left;
}

.view_cards ul li span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px 65px;
    
    display: flex;

    width: 100%;
    height: 100%;
}

.view_cards ul li:first-child span {
    background-image: url('/assets/Mobile.svg');
}

.view_cards ul li:first-child {
    border-top-right-radius: 9.6px;
    border-top-left-radius: 9.6px;
}

.view_cards ul li:nth-child(2) {
    width: 101%;
    height: 46%;

    background-color: white;
    border-radius: 9.6px;

    grid-template-columns: 65px 1.5fr;
}

.view_cards ul li:nth-child(2) span {
    background-image: url('/assets/ScreenLike.svg');
}

.view_cards ul li:last-child span {
    background-image: url('/assets/dolar.svg');
}

.view_cards ul li:last-child {
    border-bottom-right-radius: 9.6px;
    border-bottom-left-radius: 9.6px;

    background-color: #f88d12;
}

.view_cards ul li p, .view_more {
    font-size: 15px;
    line-height: 25px;
    border-left: 1px solid white;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
}

.view_more {
    border-left: 1px solid var(--primary-color);
}

.view_more > div {
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view_more h3 {
    color: var(--titles-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;

    margin-bottom: 8px;
}

.view_cards ul li .view_more p {
    color: var(--titles-color);
    font-size: 10px;
    line-height: 11px;
    font-weight: 300;
    opacity: .7;

    text-align: start;
}


.view_cards ul li .view_more a {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 8px;
    border-bottom: 1px solid var(--secondary-color);

    width: 82px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view_cards ul li .view_more a i:hover {
    transform: translateX(16%);

    transition: 250ms;
}

.view_cards ul li .view_more a i {
    font-size: 20px;
}

/* EDIT PAGE */

.form_buttons {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.form_buttons #form_delete {
    width: 100%;
}

.form_buttons #form_delete button {
    background-color: var(--deletes-color);
}

.form_buttons #form_delete button:hover {
    filter: brightness(120%);

    transition: 250ms;
}

/* FOOTER */

footer {
    text-align: center;

    color: #402B62;
    font-weight: 300;
}