<header>

    <div class="container">

        <a href="/">

            <div class="logo">

                <img src="/assets/Logo.svg" alt="LauchCars">

            </div>
            
        </a>

        <nav class="primary">

            <ul>

                <li>

                    <a href="/products">
                    
                        <i class="material-icons">shopping_cart</i><span>Shop</span>  
                    
                    </a>

                </li>

                <li>

                    <a href="#">
                        
                        <span>Loug out</span><i class="material-icons">login</i>
                        
                    </a>

                </li>

            </ul>

        </nav>

    </div>

</header>